@page "/events/{EventId:guid}"

@attribute [Authorize]


<h3>New Event</h3>



@if (Event == null || Event.Invitees == null)
{
    <div class="spinner"></div>
}
else
{

<EditForm Model="@Event" OnValidSubmit="@HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />


    <div class="form row">
        <label for="eventName" class="col-form-label">Event Name:</label>
        <InputText id="eventName" @bind-Value="Event.Name"></InputText>
    </div>

    <div class="form row">
        <label for="structure" class="col-form-label">Select Tournament Structure: </label>

        <InputSelect id="structure" @bind-Value="@Event.TournamentStructureId" DisplayName="Tournament Structure">
            @foreach (var structure in TournamentStructures)
                {
                <option value="@structure.Id">@structure.Name</option>
                }
        </InputSelect>
    </div>

    <div class="form row">
        <InputDate id="eventDate" @bind-Value="@Event.Date" format-value="MM-dd-yy"></InputDate>
        <input type="time" @bind-value="@Event.Time">
    </div>


    <h3>Invitees</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone (optional)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>


        @foreach (var invitee in Event.Invitees)
        {
            <tr>

                <td><InputText id="Name" @bind-Value="@invitee.Name" /></td>


                <td><InputText id="Email" @bind-Value="@invitee.Email" /></td>


                <td><InputText id="Phone" @bind-Value="@invitee.Phone" /></td>
                <td>
                    <a class="btn btn-outline-warning" @onclick="@(() => RemoveInvitee(invitee))">Remove</a>
                    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@(() => EmailInvitee(invitee))">Email</a>
                </td>
            </tr>

        }
    </table>


    <div class="form-group row">
        <a class="btn btn-outline-primary edit-outline-btn" @onclick="@(() => AddInvitee())">
            Add Invitee
        </a>
    </div>

    <input type="submit" class="btn btn-primary edit-btn" value="Save Event" />
    <input type="submit" class="btn btn-primary edit-btn" value="Begin Event" />
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@EmailInvitees">Email Invitees</a>
    <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToEvents">Cancel</a>
</EditForm>
}

