@page "/events/"

<h1>Events</h1>

@if (!CanShowScreen)
{
    <div class="spinner"></div>
}
else
{
    <BSContainer>

        <BSRow>
            <BSCol XS="9" MD="9">
                <h3>Upcoming Events</h3>
            </BSCol>
            <BSCol XS="3" MD="3" Class="add-btn-container">
                <BSButton Class="event-add-btn" Color="Color.Success" @onclick="@NewEvent" IsOutline="true">
                    <span class="oi oi-plus"></span>New Event
                </BSButton>
            </BSCol>
        </BSRow>

        <BSRow Class="table-top">
            <BSCol XS="4" LG="3">Event Name</BSCol>
            <BSCol XS="4" LG="3">Date</BSCol>
            <BSCol XS="4" LG="3">Time</BSCol>
            <BSCol XS="12" LG="3"></BSCol>
        </BSRow>

        @foreach (var theEvent in FutureEvents)
        {
            <BSRow Class="list-item">
                <BSCol XS="4" LG="3">@theEvent.Name</BSCol>
                <BSCol XS="4" LG="3">@theEvent.Date.Date.ToString("M/dd/yy")</BSCol>
                <BSCol XS="4" LG="3">@theEvent.Time.ToString("t")</BSCol>
                <BSCol XS="12" LG="3" Class="event-item-btns">
                    <BSButton Id="ButtonPlay" Color="Color.Success" IsOutline="true" @onclick="@(() => StartEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-media-play"></span> Start
                    </BSButton>
                    <BSButton Id="ButtonEdit" Color="Color.Secondary" IsOutline="true" @onclick="@(() => EditEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-pencil"></span> Edit
                    </BSButton>
                    <BSButton Id="ButtonDelete" Color="Color.Danger" IsOutline="true" @onclick="@(() => DeleteEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-circle-x"></span> Delete
                    </BSButton>
                </BSCol>
            </BSRow>
        }

        <BSRow>
            <BSCol><h3>Past Events</h3></BSCol>
        </BSRow>
        
        <BSRow Class="table-top">
            <BSCol XS="4" LG="3">Event Name</BSCol>
            <BSCol XS="4" LG="3">Date</BSCol>
            <BSCol XS="4" LG="3">Time</BSCol>
            <BSCol XS="12" LG="3"></BSCol>
        </BSRow>

        @foreach (var theEvent in PastEvents)
        {
            <BSRow Class="list-item">
                <BSCol XS="4" LG="3">@theEvent.Name</BSCol>
                <BSCol XS="4" LG="3">@theEvent.Date.Date.ToString("d")</BSCol>
                <BSCol XS="4" LG="3">@theEvent.Time.ToString("t")</BSCol>
                <BSCol XS="12" LG="3" Class="event-item-btns">
                    <BSButton Id="ButtonPlay" Color="Color.Success" IsOutline="true" @onclick="@(() => StartEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-media-play"></span> Start
                    </BSButton>
                    <BSButton Id="ButtonEdit" Color="Color.Secondary" IsOutline="true" @onclick="@(() => EditEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-pencil"></span> Edit
                    </BSButton>
                    <BSButton Id="ButtonDelete" Color="Color.Danger" IsOutline="true" @onclick="@(() => DeleteEvent(theEvent))" Class="list-item-btns">
                        <span class="oi oi-circle-x"></span> Delete
                    </BSButton>
                </BSCol>
            </BSRow>
        }

    </BSContainer>
}
