@page "/events/"

<h3>Events</h3>

@if (!CanShowScreen)
{
    <div class="spinner"></div>
}
else
{
    <a class="btn btn-outline-primary" @onclick="@NewEvent">New Event</a>

    <h4>Upcoming Events</h4>

    <BSTable IsHoverable="true">
        <BSTableHead TableHeadType="TableHeadType.Dark">
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </BSTableHead>
        <tbody>
            @foreach (var theEvent in FutureEvents)
            {
                <tr>
                    <td>@theEvent.Name</td>
                    <td>@theEvent.Date.Date.ToString("d")</td>
                    <td>@theEvent.Time.ToString("t")</td>
                    <td>
                        <BSButton Id="ButtonPlay" Color="Color.Success" IsOutline="true" @onclick="@(() => StartEvent(theEvent))"><span class="oi oi-media-play"></span></BSButton>
                        <BSTooltip Target="ButtonPlay">Start Event</BSTooltip>
                    </td>
                    <td>
                        <BSButton Id="ButtonEdit" Color="Color.Secondary" IsOutline="true" @onclick="@(() => EditEvent(theEvent))"><span class="oi oi-pencil"></span></BSButton>
                        <BSTooltip Target="ButtonEdit">Edit Event</BSTooltip>
                    </td>
                    <td>
                        <BSButton Id="ButtonDelete" Color="Color.Danger" IsOutline="true" @onclick="@(() => DeleteEvent(theEvent))"><span class="oi oi-circle-x"></span></BSButton>
                        <BSTooltip Target="ButtonDelete">Delete Event</BSTooltip>
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>

    <h4>Past Events</h4>

    <BSTable IsHoverable="true">
        <BSTableHead TableHeadType="TableHeadType.Dark">
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </BSTableHead>
        <tbody>
            @foreach (var theEvent in PastEvents)
            {
                <tr>
                    <td>@theEvent.Name</td>
                    <td>@theEvent.Date.Date.ToString("d")</td>
                    <td>@theEvent.Time.ToString("t")</td>
                    <td>
                        <BSButton Id="ButtonPlay" Color="Color.Success" IsOutline="true" @onclick="@(() => StartEvent(theEvent))"><span class="oi oi-media-play"></span></BSButton>
                        <BSTooltip Target="ButtonPlay">Start Event</BSTooltip>
                    </td>
                    <td>
                        <BSButton Id="ButtonEdit" Color="Color.Secondary" IsOutline="true" @onclick="@(() => EditEvent(theEvent))"><span class="oi oi-pencil"></span></BSButton>
                        <BSTooltip Target="ButtonEdit">Edit Event</BSTooltip>
                    </td>
                    <td>
                        <BSButton Id="ButtonDelete" Color="Color.Danger" IsOutline="true" @onclick="@(() => DeleteEvent(theEvent))"><span class="oi oi-circle-x"></span></BSButton>
                        <BSTooltip Target="ButtonDelete">Delete Event</BSTooltip>
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
}
