@page "/host"
@using PokerTime.Shared


<section class="user-edit">
    @if (Host == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        @if (!Saved)
        {
            <h1>User Profile</h1>

            <BSForm Model="@Host" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

                <BSContainer>

                    <BSRow>
                        <BSCol>
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </BSCol>
                    </BSRow>

                    <BSRow>
                        <BSCol XS="12" SM="9" MD="6" Class="host-items">
                            <BSLabel for="@Host.Name" Class="host-labels">Name: </BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="@Host.Name" placeholder="Enter Name" Class="textbox"></BSInput>
                            <ValidationMessage  For="@(() => Host.Name)" />
                        </BSCol>
                    </BSRow>

                    <BSRow>
                        <BSCol XS="12" SM="9" MD="6" Class="host-items">
                            <BSLabel for="@Host.Email" Class="host-labels">Email: </BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="@Host.Email" placeholder="Enter Email" Class="textbox"></BSInput>
                            <ValidationMessage For="@(() => Host.Email)" />
                        </BSCol>
                    </BSRow>

                    <BSRow>
                        <BSCol XS="12" SM="9" MD="6" Class="host-items">
                            <BSLabel for="Phone" Class="host-labels">Phone Number: </BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="@Host.Phone" placeholder="Enter Phone" Class="textbox"></BSInput>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Host.Phone)" />
                        </BSCol>
                    </BSRow>

                    <BSRow Class="bottom-btn-container">
                        <BSButton ButtonType="ButtonType.Submit" Color="Color.Primary" Class="host-btns">Save User</BSButton>
                        <BSButton IsOutline="true" Color="Color.Light" @onclick="@NavigateToIndex" Class="host-btns">Cancel</BSButton>
                        <BSButton IsOutline="true" Color="Color.Danger" @onclick="@DeleteHost" Class="host-btns">Delete</BSButton>
                    </BSRow>
                </BSContainer>

            </BSForm>

            
        }
        else
        {
            <div class="alert @StatusClass">@Message</div>
            <a class="btn btn-outline-primary" @onclick="@NavigateToIndex">Back to Homepage</a>
        }
    }
</section>