@page "/structures"

@attribute [Authorize]

<h1>Structures</h1>

@if (TournamentStructures == null)
{
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
}
else
{
    <BSContainer>

        <BSRow Class="table-top structure-table-top">
            <BSCol XS="5">Name</BSCol>
            <BSCol XS="3">Date Created</BSCol>
            <BSCol XS="3">No. of Events</BSCol>
            <BSCol SM="1"></BSCol>
        </BSRow>


        @foreach (var structure in TournamentStructures)
        {
            <BSRow Class="list-item">

                <BSCol XS="5">@structure.Name</BSCol>
                <BSCol XS="3">@structure.DateCreated.ToString("M/dd/yy")</BSCol>
                <BSCol XS="2">@structure.NumberOfEvents</BSCol>
                <BSCol XS="1">
                    <BSButton Color="Color.Primary" OnClick="@(() => EditStructure(structure.Id))" Class="list-item-btns">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                    </BSButton>
                </BSCol>

            </BSRow>
        }
        <BSRow>
            <BSCol XS="3" Class="bottom-btn-container">
                <BSButton @onclick="@NewStructure" Color="Color.Primary" Class="bottom-btn">
                    <span class="oi oi-plus"></span> New Structure
                </BSButton>
            </BSCol>
        </BSRow>
    </BSContainer>
    
}


