@page "/structures"
@attribute [Authorize]

<h3>Structures</h3>

@if (TournamentStructures == null)
{
    <div class="spinner"></div>
}
else
{


    <BSTable IsHoverable="true">
        <BSTableHead TableHeadType="TableHeadType.Dark">
            <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">No. of Events</th>
                <th></th>
            </tr>
        </BSTableHead>
        <tbody>
            @foreach (var structure in TournamentStructures)
            {
                <tr>
                    <td></td>
                    <td>@structure.Name</td>
                    <td>@structure.DateCreated.ToShortDateString()</td>
                    <td>@structure.NumberOfEvents</td>
                    <td>
                        <BSButton Color="Color.Primary" OnClick="@(() => EditStructure(structure.Id))">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </BSButton>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </BSTable>
    <BSButton @onclick="@NewStructure" Color="Color.Primary">
        <span class="oi oi-plus"></span> New Structure
    </BSButton>
}


