@page "/tournament/{TrackerId:guid}"
@attribute [AllowAnonymous]

<Styled @bind-Classname="@TimerStyle">
    font-size: 100pt;
    font-family: 'Teko';
    text-align: center;
    color: @TimerColor;
</Styled>

@if (Tracker == null)
{
    <p>@Message</p>

    <div class="spinner"></div>
}
else if (!Tracker.IsTournamentRunning)
{
    <p>@Message</p>
}
else
{
    <div class="@TimerStyle">@TimeLeft.ToString("mm':'ss")</div>

    <div class="currentblind">Blinds: @CurrentBlindLevel.SmallBlind / @CurrentBlindLevel.BigBlind</div>
    <div class="currentblind">Ante: @CurrentBlindLevel.Ante</div>

    <p>&nbsp;</p>

    <div class="nextblindlevel">Next Level:</div>
    <div class="nextblindlevel">Blinds: @NextBlindLevel.SmallBlind / @NextBlindLevel.BigBlind</div>
    <div class="nextblindlevel">Ante: @NextBlindLevel.Ante</div>
}

<audio id="chime" src="../sounds/EndOfBlindLevel.ogg" />